<div class="carousel-wrapper">
  <div class="grey-div"></div>
  <div class="carousel">
    <div>
      <img class="carousel-img" src="./images/home/1970s.jpg" alt="1970s">
    </div>
    <div>
      <img class="carousel-img" src="./images/home/1980s.jpg" alt="1980s">
    </div>
    <div>
      <img class="carousel-img" src="./images/home/1990s.jpg" alt="1990s">
    </div>
    <div>
      <img class="carousel-img" src="./images/home/2000s.jpg" alt="2000s">
    </div>
    <div>
      <img class="carousel-img" src="./images/home/2010s.jpg" alt="2010s">
    </div>
  </div>

  <div class="carousel-overlay-div">
    <div class="carousel-timeline">
      <div class="carousel-time">
        <div class="timeline-small-box"></div><p>2010s</p>
      </div>
      <div class="carousel-time">
        <div class="timeline-small-box"></div><p>2000s</p>
      </div>
      <div class="carousel-time">
        <div class="timeline-small-box"></div><p>1990s</p>
      </div>
      <div class="carousel-time">
        <div class="timeline-small-box"></div><p>1980s</p>
      </div>
      <div class="carousel-time">
        <div class="timeline-small-box"></div><p>1970s</p>
      </div>
    </div>

    <div class="carousel-chicken-div">
      <div class="chicken-box-div">
        <div class="chicken-title">
          <div class="small-chicken-box"></div>
          <h3>THE DIXIE CHICKEN</h3>
        </div>
        <p>The town and the university have changed, but the </p>
        <p>Chicken has remained timeless – generations of Aggies </p>
        <p>have walked through the same swinging doors for a </p>
        <p>great burger or a cold beer.</p>
      </div>
    </div>

    <div class="mascot-div">
      <img src="./images/home/dixie-mascot.svg" alt="dixie mascot">
    </div>

    <div class="menu-checkout-div point darken">
      <a ui-sref="menu"><p>CHECK OUT THE MENU</p></a>
    </div>

    <div darken-directive class="carousel-arrow-div">
      <img carousel-arrow class="h-shop-arrow" src="images/home/arrow.svg"/>
    </div>
  </div>

  <div class="carousel-bottom-div">
    <p>College Station is home</p>
  </div>


  <script type="text/javascript">
    $(document).ready(function(){
      $('.carousel').slick({
        autoplay: true,
        autoplaySpeed: 2000,
        infinite: true,
        adaptiveHeight: true,
        centerMode: true,
        variableWidth: true,

      });
    });
  </script>
</div>
