<main>

  <section class="footer-section">

    <div class="great-food-section">
      <img src="./images/home/bar-panorama-bottom.jpg" alt="bar">
      <h1>GREAT FOOD. COLD DRINKS.</h1>
    </div>

    <div class="social-media-div">
      <img src="./images/home/facebook-bottom.svg" alt="facebook">
      <img src="./images/home/instagram-bottom.svg" alt="instagram">
      <img src="./images/home/twitter-bottom.svg" alt="twitter">
    </div>

    <div class="copyright-div">
      <p>Copyright © 2016 Dixie Chicken. Site designed in College Station by: <a href="#">Drift.</a></p>
    </div>

    <div class="top-div">
      <p>BACK TO THE TOP</p>
    </div>

  </section>

</main>
