<main>

  <section class="footer-section">

    <div class="great-food-section">
      <h1>GREAT FOOD. COLD DRINKS.</h1>
    </div>

    <div class="copyright-div">
      <div class="social-media-div">
        <a href="https://www.facebook.com/dixiechicken1974/"><img src="./images/home/facebook-bottom.svg" alt="facebook"></a>
        <a href="https://www.instagram.com/thedixiechicken/"><img src="./images/home/instagram-bottom.svg" alt="instagram"></a>
        <a href="https://twitter.com/thedixiechicken"><img src="./images/home/twitter-bottom.svg" alt="twitter"></a>
      </div>
      <p>Copyright © 2016 Dixie Chicken. Site designed in College Station by: <a href="#">Drift.</a></p>
      <div class="to-top-div">
        <p>BACK TO THE TOP</p>
      </div>
    </div>

  </section>

</main>
