<main class="main-wrapper">
  <a name="top"></a>

  <section class="h-top">

    <div class="logo"></div>

    <div class="explore">
      <h1>EXPLORE</h1>
      <i nav-directive class="fa fa-bars point" aria-hidden="true" ng-click="openNav()"></i>
    </div>

    <div class="aggie-tradition">
      <div class="aggie">
        <div class="small-box"></div>
        <h4>AN AGGIE</h4>
      </div>

      <div class="tradition">
          <h1>TRADITION</h1>
          <h1>SINCE 1974</h1>
      </div>
    </div>

    <div class="college-station-div">
      <p>COLLEGE STATION TEXAS</p>
    </div>

    <div class="original-div">
      <p>The original</p>
      <p>home of the Ring</p>
      <p>Dunk.</p>
    </div>

    <div class="established-div">
      <h1 established-directive>ESTABLISHED</h1>
    </div>

    <div class="forty-years-div">
      <img class="h-top-arrow" src="images/home/arrow.svg"/>
      <p>SEE WHAT OVER <span>40 YEARS</span> LOOKS LIKE</p>
    </div>

    <div class="bottom-bar-div"></div>

  </section>

  <section class="m-carousel-main">
    <carousel-directive></carousel-directive>
  </section>

  <section class="specials-store-section">

    <div class="specials-shop">

      <div class="specials-div">

        <div class="specials">
          <h1>SPECIALS</h1>
          <p>ALMOST EVERYDAY IS SPECIAL</p>
        </div>

        <div class="three-days-div">

          <div class="day-div">
            <h1 class="mon">MON</h1>
            <div class="d day-1">
              <div class="monday">
                <h3>Margarita</h3>
                <h3>Monday</h3>
              </div>
              <div class="day-desc">
                <p>All Margaritas</p>
                <p>& Mexican beers</p>
                <p>on Special</p>
              </div>
            </div>
          </div>

          <div class="day-div">
            <h1 class="tue">TUE</h1>
            <div class="d day-2">
              <div class="tuesday">
                <h3>Texas</h3>
                <h3>Tuesday</h3>
              </div>
              <div class="day-desc">
                <p>All Texas Beers and</p>
                <p>Texas Liquors on</p>
                <p>Special</p>
              </div>
            </div>
          </div>

          <div class="day-div">
            <h1 class="wed">WED</h1>
            <div class="d day-3">
              <div class="wednesday">
                <h3>Whiskey</h3>
                <h3>Wednesday</h3>
              </div>
              <div class="day-desc">
                <p>Half off Whiskey</p>
              </div>
            </div>
          </div>

        </div>

        <div class="two-day-div">

          <div class="day-div">
            <h1 class="thu">THU</h1>
            <div class="d day-4">
              <div class="thursday">
                <h3>Thirsty</h3>
                <h3>Thursday</h3>
              </div>
              <div class="day-desc">
                <p>Domestic Pints</p>
                <p>$2.00/Specials on</p>
                <p>Wells</p>
              </div>
            </div>
          </div>

          <div class="day-div">
            <h1 class="sun">SUN</h1>
            <div class="d day-5">
              <div class="sunday">
                <h3>Sunday</h3>
                <h3>Funday</h3>
              </div>
              <div class="day-desc">
                <p>Pitchers on sale!</p>
              </div>
            </div>
          </div>

        </div>

        <div class="dominoes-div">
          <h2>DOMINOES PLAYED DAILY</h2>
        </div>

      </div>

      <div class="shop-div">

        <div class="shop">
          <h1>SHOP</h1>
            <img class="h-shop-arrow" src="images/home/arrow.svg"/>
          <div class="store-div">
            <p>VISIT THE STORE</p>
          </div>
        </div>

        <div class="shirt-div">
          <img src="./images/home/DixieFeature1-768x768.png" alt="shirt">
        </div>

        <div class="featured-div">
          <i class="fa fa-star" aria-hidden="true"></i>
          <h3>FEATURED</h3>
        </div>

      </div>

    </div>

    <div class="dons-main-div">

      <div class="dons-album">
        <img src="./images/home/Dons-Albums.jpg" alt="dons albums">
      </div>

      <div class="march-div">
        <div class="march-text-div">
          <p class="march">March 23, 2017</p>
          <h3>TBT: DON'S ALBUMS "STARDUST"</h3>
          <p class="dons-text">After searching through Don Ganter’s personal album collection, </p>
          <p class="dons-text">we ran across a true gem! Few albums in country music history </p>
          <p class="dons-text">are as iconic as Willie Nelson’s 1978 Stardust. At the time it was </p>
          <p class="dons-text">pretty risky. Willie was riding a high of 1975’s Red Headed </p>
          <p class="dons-text">Stranger and Wanted! The Outlaws. Doing an album of all</p>
          <h4>VIEW POST</h4>
        </div>
      </div>

      <div class="chicken-blog-div">
        <p>CHICKEN BLOG</p>
        <i class="fa fa-star" aria-hidden="true"></i>
      </div>

      <img class="h-chicken-arrow" src="images/home/arrow.svg"/>

    </div>

  </section>

  <section class="our-friends-section">

    <div darken-directive class="friends dry-bean-div darken">
      <img class="logo-bottom" src="./images/home/dry-bean-logo.png" alt="dry bean logo">
      <div class="visit-website">
        <p>VISIT WEBSITE</p>
      </div>
    </div>

    <div darken-directive class="friends chicken-oil-div darken">
      <img class="logo-bottom" src="./images/home/chicken-oil-co-logo.png" alt="chicken oil logo">
      <div class="visit-website">
        <p>VISIT WEBSITE</p>
      </div>
    </div>

    <div class="visit-div">
      <h3>VISIT OUR FRIENDS!</h3>
    </div>

  </section>

  <footer-directive></footer-directive>

</main>
