<main class="main-wrapper">

  <section class="top">

    <div class="logo"></div>

    <div class="explore">
      <h1>EXPLORE</h1>
    </div>

    <div class="aggie-tradition">
      <div class="aggie">
        <div class="small-box"></div>
        <h4>AN AGGIE</h4>
      </div>

      <div class="tradition">
          <h1>TRADITION</h1>
          <h1>SINCE 1974</h1>
      </div>
    </div>

    <div class="college-station-div">
      <p>COLLEGE STATION TEXAS</p>
    </div>

    <div class="original-div">
      <p>The original</p>
      <p>home of the Ring</p>
      <p>Dunk.</p>
    </div>

    <div class="established-div">
      <h1>ESTABLISHED</h1>
    </div>

    <div class="forty-years-div">
      <p>SEE WHAT OVER <span>40 YEARS</span> LOOKS LIKE</p>
    </div>

    <div class="bottom-bar-div"></div>

  </section>

  <section class="carousel">

    <div class="grey-div"></div>

    <div class="carousel-timeline-divider-div">

      <div class="timeline-left-box">
        <ul>
          <li class="timeline-list">
            <div class="timeline-small-box"></div><p>2010s</p>
          </li>
          <li class="timeline-list">
            <div class="timeline-small-box"></div><p>2000s</p>
          </li>
          <li class="timeline-list">
            <div class="timeline-small-box"></div><p>1990s</p>
          </li>
          <li class="timeline-list">
            <div class="timeline-small-box"></div><p>1980s</p>
          </li>
          <li class="timeline-list">
            <div class="timeline-small-box"></div><p>1970s</p>
          </li>
        </ul>
      </div>

      <div class="timeline-right-box">
        <div class="chicken-box-div">
          <div class="chicken-title">
            <div class="small-chicken-box"></div>
            <h3>THE DIXIE CHICKEN</h3>
          </div>
          <p>The town and the university have changed, but the </p>
          <p>Chicken has remained timeless – generations of Aggies </p>
          <p>have walked through the same swinging doors for a </p>
          <p>great burger or a cold beer.</p>
        </div>
      </div>
    </div>

    <div class="mascot-div">
      <img src="./images/home/dixie-mascot.svg" alt="dixie mascot">
    </div>

    <div class="menu-checkout-div">
      <p>CHECK OUT THE MENU</p>
    </div>

    <div class="carousel-bottom-div">
      <p>College Station is home</p>
    </div>

  </section>

  <section class="specials-store-section">

    <div class="specials-shop">

      <div class="specials-div">

        <div class="specials">
          <h1>SPECIALS</h1>
          <p>ALMOST EVERYDAY IS SPECIAL</p>
        </div>
        <div class="three-days-div">
          <div>
            <h1>MON</h1>
            <h3>Margarita</h3>
            <h3>Monday</h3>
            <p>All Margaritas</p>
            <p>& Mexican beers</p>
            <p>on Special</p>
          </div>
          <div>
            <h1>TUE</h1>
            <h3>Texas</h3>
            <h3>Tuesday</h3>
            <p>All Texas Beers and</p>
            <p>Texas Liquors on</p>
            <p>Special</p>
          </div>
          <div>
            <h1>WED</h1>
            <h3>Whiskey</h3>
            <h3>Wednesday</h3>
            <p>Half off Whiskey</p>
          </div>
        </div>
        <div class="two-day-div">
          <div>
            <h1>THU</h1>
            <h3>Thirsty</h3>
            <h3>Thursday</h3>
            <p>Domestic Pints</p>
            <p>$2.00/Specials on</p>
            <p>Wells</p>
          </div>
          <div>
            <h1>SUN</h1>
            <h3>Sunday</h3>
            <h3>Funday</h3>
            <p>Pitchers on sale!</p>
          </div>
        </div>

        <div class="dominoes-div">
          <h2>DOMINOES PLAYED DAILY</h2>
        </div>

      </div>

      <div class="shop-div">

        <div class="shop">
          <h1>SHOP</h1>
          <div class="store-div">
            <p>VISIT THE STORE</p>
          </div>
        </div>

        <div class="shirt-div">
          <img src="./images/home/DixieFeature1-768x768.png" alt="shirt">
        </div>

        <div class="featured-div">
          <h3>FEATURED</h3>
        </div>

      </div>

    </div>

    <div class="dons-main-div">

      <div class="dons-album">
        <img src="./images/home/Dons-Albums.jpg" alt="dons albums">
      </div>

      <div class="march-div">
        <p class="march">March 23, 2017</p>
        <h3>TBT: DON'S ALBUMS "STARDUST"</h3>
        <p>After searching through Don Ganter’s personal album collection, </p>
        <p>we ran across a true gem! Few albums in country music history </p>
        <p>are as iconic as Willie Nelson’s 1978 Stardust. At the time it was </p>
        <p>pretty risky. Willie was riding a high of 1975’s Red Headed </p>
        <p>Stranger and Wanted! The Outlaws. Doing an album of all</p>
        <h4>VIEW POST</h4>
      </div>

      <div class="chicken-blog-div">
        <p>CHICKEN BLOG</p>
      </div>

    </div>

  </section>

  <section class="our-friends-section">

    <div class="dry-bean-div">
      <img src="./images/home/Dry Bean image.jpg" alt="shots">
      <img src="./images/home/dry-bean-logo.png" alt="dry bean logo">
      <div class="visit-website">
        <p>VISIT WEBSITE</p>
      </div>
    </div>

    <div class="chicken-oil-div">
      <img src="./images/home/chicken oil co image.jpg" alt="beer and food">
      <img src="./images/home/chicken-oil-co-logo.png" alt="chicken oil logo">
      <div class="visit-website">
        <p>VISIT WEBSITE</p>
      </div>
    </div>

  </section>

  <section class="great-food-section">

    <div>
      <img src="./images/home/bar-panorama-bottom.jpg" alt="bar">
      <h1>GREAT FOOD. COLD DRINKS.</h1>
    </div>

  </section>

  <section class="footer-section">

    <div class="social-media-div">
      <img src="./images/home/facebook-bottom.svg" alt="facebook">
      <img src="./images/home/instagram-bottom.svg" alt="instagram">
      <img src="./images/home/twitter-bottom.svg" alt="twitter">
    </div>

    <div class="copyright-div">
      <p>Copyright © 2016 Dixie Chicken. Site designed in College Station by: <a href="#">Drift.</a></p>
    </div>

    <div class="top-div">
      <p>BACK TO THE TOP</p>
    </div>

  </section>

</main>
