<main>

  <header-menu-directive></header-menu-directive>

  <section class="food-div">

    <div class="starters food">
      <h4>STARTERS <br/>AND SIDES</h4>
      <p>VIEW OPTIONS</p>
    </div>

    <div class="beverages food">
      <h4>BEVERAGES</h4>
      <p>VIEW OPTIONS</p>
    </div>

    <div class="plates food">
      <h4>PLATES</h4>
      <p>VIEW OPTIONS</p>
    </div>

    <div class="sandwiches food">
      <h4>SANDWICHES</h4>
      <p>VIEW OPTIONS</p>
    </div>

    <div class="burgers food">
      <h4>BURGERS</h4>
      <p>VIEW OPTIONS</p>
    </div>

    <div class="add-ons food">
      <h4>ADD ONS AND <br/>EXTRAS</h4>
      <p>VIEW OPTIONS</p>
    </div>

  </section>

  <footer-directive></footer-directive>

</main>
