<main>

  <header-store-directive></header-store-directive>

  <section class="store-main-div">

    <div class="cart-stuff-div display-flex">
      <div class="search">
        <i class="fa fa-search" aria-hidden="true"></i>
        <input type="text" placeholder="Search" ng-model="searchInput">
      </div>
      <div class="login-signup display-flex">
        <p>Log in</p>
        <p>Sign up</p>
      </div>
      <div class="buy display-flex">
        <div class="cart display-flex">
          <div class="shopping-cart-img"></div>
          <p>Cart</p>
          <p>(0)</p>
        </div>
        <p class="checkout">Check Out</p>
      </div>
    </div>

    <div class="s-outer">
      <div class="s-menu">
        <div class="s-menu-item">FEATURED</div>
        <div class="s-menu-item">MEN</div>
        <div class="s-menu-item">WOMEN</div>
        <div class="s-menu-item">KIDS</div>
        <div class="s-menu-item">MISC</div>
        <div class="s-menu-item">HATS</div>
        <div class="s-menu-item">CHICKEN OIL</div>
        <div class="s-menu-item">DRY BEAN</div>
      </div>
      <div class="s-image-container">
        <div class="s-single-product" ng-repeat="p in products">
          <img ng-src={{p.product_image}} class="s-img"/>
          <h4 class="s-p-name">{{p.product_name}}</h4>
          <p class="s-p-price">${{p.product_price}}</p>
        </div>
      </div>
    </div>

    <div class="s-bottom-div"></div>

  </section>

</main>

<footer-directive></footer-directive>
