<main>

  <header-store-directive></header-store-directive>

  <section class="store-main-div">

    <div class="cart-stuff-div display-flex">
      <div class="search">
        <i class="fa fa-search" aria-hidden="true"></i>
        <input type="text" placeholder="Search">
      </div>
      <div class="login-signup display-flex">
        <p>Log in</p>
        <p>Sign up</p>
      </div>
      <div class="buy display-flex">
        <div class="cart display-flex">
          <div class="shopping-cart-img"></div>
          <p>Cart</p>
          <p>(0)</p>
        </div>
        <p class="checkout">Check Out</p>
      </div>
    </div>

    <div class="products-div display-flex">
      <div class="shop-nav">
        <ul>
          <li>FEATURED</li>
          <li>MEN</li>
          <li>WOMEN</li>
          <li>KIDS</li>
          <li>MISC</li>
          <li>HATS</li>
          <li>CHICKEN OIL</li>
          <li>DRY BEAN</li>
        </ul>
      </div>
      <div class="directives">

        <!-- directives go here -->


      </div>
    </div>

    <div class="bottom-div"></div>

  </section>

  <footer-directive></footer-directive>

</main>
