<main>

  <header-store-directive></header-store-directive>

  <section class="store-main-div">

    <div class="cart-stuff-div display-flex">
      <div class="search">
        <i class="fa fa-search point" aria-hidden="true" ng-click="search(searchInput)"></i>
        <input type="text" placeholder="Search" ng-model="searchInput">
      </div>
      <div class="login-signup display-flex">
        <p class="point" ng-click="showHide('login')" ng-if="!isLoggedIn">Log in</p>
        <p class="point" ng-click="showHide('signup')" ng-if="!isLoggedIn">Sign up</p>
        <p  ng-if="isLoggedIn">{{email}}</p>

      </div>
      <div class="buy display-flex">
        <div class="cart display-flex point" ng-click="showHide('cart'); getCart(user)">
          <i class="fa fa-shopping-cart" aria-hidden="true"></i>
          <p>Cart</p>
          <p>(0)</p>
        </div>
        <p class="checkout point">Check Out</p>
      </div>
    </div>

    <div class="s-outer">
      <div class="s-menu point" ng-click="showHide('prods')">
        <div class="s-menu-item" ng-click="getProductsByCategory('featured')">FEATURED</div>
        <div class="s-menu-item" ng-click="getProductsByCategory('men')">MEN</div>
        <div class="s-menu-item" ng-click="getProductsByCategory('women')">WOMEN</div>
        <div class="s-menu-item">KIDS</div>
        <div class="s-menu-item">MISC</div>
        <div class="s-menu-item" ng-click="getProductsByCategory('hats')">HATS</div>
        <div class="s-menu-item">CHICKEN OIL</div>
        <div class="s-menu-item">DRY BEAN</div>
      </div>
      <div class="s-image-container">

        <!-- products by class view -->
        <div class="s-single-product point" ng-repeat="p in products | filter: searchFilter" ng-if="prods" ng-click="getProductToPurchase(p.product_id)">
          <img ng-src={{p.product_image}} class="s-img"/>
          <h4 class="s-p-name">{{p.product_name}}</h4>
          <p class="s-p-price">${{p.product_price}}</p>
        </div>

        <!-- single product view -->
        <div class="s-product-purchase" ng-if="item" ng-repeat="p in product">
          <div class="">
            <img ng-src={{p.product_image}} alt="" class="s-purchase-image">
          </div>
          <div class="">
            <h4>{{p.product_name}}</h4>
            <p class="s-purchase-price">${{p.product_price}}</p>
            <p class="s-purchase-desc">{{p.product_desc}}</p>
            <p>Quantity</p>
            <input type="text" ng-model="quantity">
            <!-- {{product}} -->
            <form class="" ng-submit="createItem(quantity, p.product_id)">
              <button type="submit" name="button">ADD TO CART</button>
            </form>
          </div>
        </div>

        <!-- login view -->
        <div class="s-login-signup" ng-if="login">
          <h3>Login</h3>
          <form class="" ng-submit="verifyLogin(returnUserEmail, returnUserPassword)">
            <input type="text" placeholder="Email" ng-model="returnUserEmail">
            <input type="text" placeholder="Password" ng-model="returnUserPassword">
            <button type="submit" name="button">SIGN IN</button>
          </form>
        </div>

        <!-- create account view -->
        <div class="s-login-signup" ng-if="signup">
          <h3>Create Account</h3>
          <form class="" method="post" ng-submit="createUser(user)">
            <input type="text" placeholder="First Name" ng-model="user.first_name" maxlength="20">
            <input type="text" placeholder="Last Name" ng-model="user.last_name" maxlength="30">
            <input type="text" placeholder="Email" ng-model="user.email">
            <input type="password" placeholder="Password" ng-model="user.password">
            <button type="submit" name="button">CREATE</button>
          </form>
        </div>

        <!-- cart view -->
        <div class="s-cart-main" ng-if="cart"><!-- ng-repeat="u in userCart" -->
          <div class="s-cart-top-div">
            <p>Product</p>
            <p>Price</p>
            <p>Quantity</p>
            <p>Total</p>
          </div>
          <div class="s-cart-middle-div" ng-repeat="u in userCart">
            <img class="s-cart-image" ng-src="{{u.product_image}}">
            <div class="s-cart-name">{{u.product_name}}</div>
            <div class="s-cart-price">${{u.product_price}}</div>
            <div class="s-cart-quantity">{{u.quantity}}</div>
            <div class="s-cart-total">${{u.total}}</div>
          </div>
          <div class="s-cart-bottom-div">
            <div class="s-cart-instructions">
              <p>Special instructions for seller</p>
              <input type="text"/>
            </div>
            <div class="s-cart-sub-checkout">
              <p>Subtotal ${{subtotal}}</p>
              <p>Shipping & taxes calculated at checkout</p>
              <button type="button" name="button">CHECK OUT</button>
            </div>
          </div>
        </div>

        <!-- <div class="s-cart-main" ng-if="cart" ng-repeat="u in userCart">
          <div class="s-cart-left">
            <div class="s-cart-title">
              <p>Product</p>
            </div>
            <div class="s-cart-product">
              <div class="s-cart-img">
                {{u.product_image}}
              </div>
              <div class="s-cart-name">
                <p>{{u.product_name}}</p>
              </div>
            </div>
            <div class="s-cart-instructions">
              <p>Special instructions for seller</p>
              <input type="text" name="" value=""/>
            </div>
          </div>

          <div class="s-cart-right">
            <div class="s-cart-right-divs">
              <div class="s-cart-title-rt">
                <p>Price</p>
              </div>
              <div class="s-cart-single-price">
                {{u.product_price}}
                <p>$</p>
              </div>
            </div>
            <div class="s-cart-right-divs">
              <div class="s-cart-title-rt s-cart-title-rt-middle">
                <p>Quantity</p>
              </div>
              <div class="s-cart-quantity">
                {{u.quantity}}
              </div>
            </div>
            <div class="s-cart-right-divs">
              <div class="s-cart-title-rt s-cart-title-rt-last">
                <p>Total</p>
              </div>
              <div class="s-cart-item-total">
                <p>${{u.total}}</p>
              </div>
            </div>
            <div class="s-cart-right-bottom">
              <p class="s-cart-subtotal">Subtotal ${{subtotal}}</p>
              <p class="s-cart-shipping">Shipping & taxes calculated at checkout</p>
              <button type="button" name="button">CHECK OUT</button>
            </div>
          </div>
        </div>  -->

      </div>
    </div>

    <div class="s-bottom-div"></div>

  </section>

</main>

<footer-directive></footer-directive>
