@import 'colors';
@import 'fonts';
@import 'variables';

.header-wrapper {
  height: 42vh;
  width: 100%;
  background: url('./images/header/menu.jpg') no-repeat;
  background-size: cover;
  background-position: 30%;
  position: relative;
  font-family: $oswald;
  .header-store-logo {
    img {
      height: 9vh !important;
      margin-top: 2%;
      margin-left: 5%;
    }
  }
  .header-store-explore {
    display: flex;
    position: absolute;
    right: 6%;
    top: 12%;
    h3 {
      font-size: 2.5vw;
      font-weight: 500;
      margin-right: 7%;
      color: $tradition-white;
    }
    i {
      font-size: 270%;
      color: $tradition-white;
    }
  }
  h1 {
    font-size: 10vw;
    font-weight: bold;
    position: absolute;
    bottom: -1.5vh;
    left: 5%;
    color: $main-white;
    z-index: 1;
  }
  .header-bottom-div {
    height: 3vh;
    width: 100%;
    background: $header-bottom;
    position: absolute;
    bottom: 0;
  }
}

// MEDIA QUERY 1280  //////////////////////////////////////////////////////////////////////
@media (max-width: 1280px) {

  .header-wrapper {
    height: 36vh;
    .header-store-logo {
      img {
        height: 10vh !important;
      }
    }
    .header-store-explore {
      h3 {
        font-size: 3.5vw;
      }
    }
  }

}
