@import 'colors';
@import 'fonts';
@import 'variables';


.display-flex {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.store-main-div {
  // height: 200vh;
  width: 100%;
  background: $main-white;
}

.cart-stuff-div {
  height: 5.7vh;
  width: 81%;
  font-family: $rob;
  font-weight: 400;
  color: $shop-search;
  opacity: 0.8;
  font-size: 0.8vw;
  border-bottom: rgba(51, 51, 51, 0.2) 1px solid;
  margin-left: 9%;
}

.search {
  i {
    font-size: 20px;
  }
  input {
    border: none;
    height: 4vh;
    width: 12vw;
    background: $main-white;
    font-size: 0.8vw;
  }
}

.login-signup {
  p {
    margin-right: 1.4vw;
  }
}

.buy {
  margin-left: 61%;
}

.cart {
  i {
    margin-right: .5vw;
    font-size: 18px;
  }
  p {
    margin-right: 0.25vw;
  }
}

.checkout {
  margin-left: 1.15vw;
}

.s-outer {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.s-menu {
  width: 325px;
  height: 400px;
  padding-left: 70px;
  padding-top: 30px;
  .s-menu-item {
    font-family: $oswald;
    color: $featured-grey;
    font-size: 35px;
    font-weight: bold;
    margin-left: 50px;
    margin-top: 5px;
  }
}

.s-image-container {
  // height: 400px;
  padding-top: 35px;
  width: 1094px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-right: 130px;
  // overflow: scroll;
  .s-single-product {
    text-align: center;
    color: $forty-years-maroon;
    .s-img {
      height: 300px;
      width: 300px;
      padding-bottom: 10px;
    }
    .s-p-name {
      font-family: $bevan;
      padding-bottom: 10px;
    }
    .s-p-price {
      padding-bottom: 35px;
    }
  }
}

.s-login {
  form {
    display: flex;
    flex-direction: column;
  }
  form>* {
    height: 40px;
    width: 320px;
    border: none;
    font-size: 15px;
  }
  h3 {
    color: $featured-grey;
    font-weight: bold;
    font-family: $oswald;
    font-size: 28px;
    margin-bottom: 28px;
  }
  input {
    margin-bottom: 8px;
    background-color: rgb(255, 255, 255);
    padding-left: 10px;
  }
  button {
    background: $forty-years-maroon;
    color: rgb(255, 255, 255);
  }
}

.s-bottom-div {
  height: 4vh;
  width: 81%;
  border-top: rgba(51, 51, 51, 0.2) 1px solid;
  margin-left: 9%;
}
