@import 'colors';
@import 'fonts';
@import 'variables';


.display-flex {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.store-main-div {
  // height: 200vh;
  width: 100%;
  background: $main-white;
}

.cart-stuff-div {
  height: 5.7vh;
  width: 81%;
  font-family: $rob;
  font-weight: 400;
  color: $shop-search;
  opacity: 0.8;
  font-size: 0.8vw;
  border-bottom: rgba(51, 51, 51, 0.2) 1px solid;
  margin-left: 9%;
  display: flex;
  justify-content: space-between;

  .search {
    padding-top: 0.5%;
    i {
      margin-top: 2%;
      font-size: 20px;
    }
    input {
      border: none;
      height: 4vh;
      width: 15vw;
      background: $main-white;
      font-size: 0.8vw;
      padding-left: 15px;
    }
  }

  .s-right-cart-stuff {
    display: flex;
    justify-content: space-between;
    width: 79%;
    padding-top: 1.5%;
    .login-signup {
      display: flex;
      p {
        margin-right: 1.4vw;
      }
      p:hover {
        color: $store-hover;
      }
    }
    .buy {
      display: flex;
      margin-left: 61%;
      .cart {
        display: flex;
        i {
          margin-right: .5vw;
          font-size: 18px;
        }
        p {
          margin-right: 0.25vw;
        }
      }
      .cart:hover {
        color: $store-hover;
      }
      .checkout {
        margin-left: 1.15vw;
      }
      .checkout:hover {
        color: $store-hover;
      }
    }
  }
}

.s-outer {
  width: 100%;
  display: flex;
  justify-content: space-around;
  .s-menu {
    width: 325px;
    height: 400px;
    padding-left: 70px;
    padding-top: 30px;
    .s-menu-item {
      font-family: $oswald;
      color: $featured-grey;
      font-size: 35px;
      font-weight: bold;
      margin-left: 50px;
      margin-top: 5px;
      p:hover {
        color: $store-hover;
      }
    }
  }
  .s-image-container {
    // height: 400px;
    padding-top: 35px;
    width: 1094px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-right: 130px;
    // overflow: scroll;
    .s-single-product {
      text-align: center;
      color: $forty-years-maroon;
      .s-img {
        height: 300px;
        width: 300px;
        padding-bottom: 10px;
      }
      .s-img:hover {
        opacity: 0.5;
      }
      .s-p-name {
        font-family: $bevan;
        padding-bottom: 10px;
      }
      .s-p-price {
        padding-bottom: 35px;
      }
    }
  }
}

.s-login-signup {
  form {
    display: flex;
    flex-direction: column;
  }
  form>* {
    height: 40px;
    width: 320px;
    border: none;
    font-size: 15px;
  }
  h3 {
    color: $featured-grey;
    font-weight: bold;
    font-family: $oswald;
    font-size: 28px;
    margin-bottom: 28px;
  }
  input {
    margin-bottom: 8px;
    background-color: $white;
    padding-left: 10px;
  }
  button {
    background: $forty-years-maroon;
    color: $white;
  }
}

.s-product-purchase {
  display: flex;
  margin-bottom: 40px;

  .s-single-image {
    img {
      height: 450px;
      width: 450px;
    }
  }

  .s-single-right {
    display: flex;
    flex-direction: column;
    padding: 20px 0 20px 30px;
    h4 {
      font-family: $bevan;
      margin-bottom: 5px;
      color: $established-brown;
      font-size: 19px;
    }
    .s-purchase-price {
      font-family: $bevan;
      font-weight: bold;
      margin-bottom: 40px;
      color: $forty-years-maroon;
    }
    .s-purchase-desc {
      font-family: $rob;
      line-height: 1.75;
      color: $cart-grey;
      font-size: 15px;
      font-weight: 400;
      margin-bottom: 40px;
    }
    .s-purchase-quantity {
      font-size: 14px;
      margin-bottom: 15px;
      font-family: $rob;
    }
    input {
      height: 40px;
      width: 40px;
      font-size: 16px;
      text-align: center;
      border: none;
      margin-left: 5px;
      margin-bottom: 40px;
    }
    button {
      background: $forty-years-maroon;
      font-family: $bevan;
      font-weight: bold;
      height: 40px;
      width: 500px;
      border: none;
      color: $white;
      font-size: 13px;
      letter-spacing: 2px;
    }
  }
}

.s-cart-main {
  display: flex;
  flex-direction: column;
  font-family: $rob;
  color: $cart-grey;

  .s-cart-top-div {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    height: 30px;
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 20px;
    .s-cart-product {
      margin-right: 545px;
    }
    .s-cart-price {
      margin-right: 80px;
    }
    .s-cart-quantity {
      padding-right: 120px;
    }
  }

  .s-cart-middle-div {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-bottom: 7%;
    .s-cart-img {
      height: 240px;
      width: 240px;
    }
    .s-cart-name {
      margin-top: 115px;
      // margin-left: -100px;
      // margin-right: 100px;
      color: $forty-years-maroon;
    }
    .s-cart-price {
      margin-top: 115px;
    }
    .s-cart-quantity {
      margin-top: 115px;
    }
    .s-cart-total {
      margin-top: 115px;
    }
  }

  .s-cart-bottom-div {
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
    .s-cart-instructions {
      p {
        padding-bottom: 5px;
        font-size: 13px;
        font-weight: 400;
      }
      textarea {
        height: 155px;
        width: 420px;
        border: none;
        font-size: 15px;
        padding: 10px 10px;
      }
    }
    .s-cart-sub-checkout {
        text-align: right;
      .s-cart-sub {
        font-weight: 700;
        font-size: 18px;
        padding-bottom: 20px;
      }
      .s-cart-ship {
        font-weight: 500;
        font-style: italic;
        padding-bottom: 20px;
      }
      button {
        height: 45px;
        width: 130px;
        background: $forty-years-maroon;
        color: $white;
        font-size: 16px;
        font-weight: 300;
        border: none;
      }
    }
  }

}

.s-bottom-div {
  height: 4vh;
  width: 81%;
  border-top: rgba(51, 51, 51, 0.2) 1px solid;
  margin-left: 9%;
}

// MEDIA QUERY 1280  //////////////////////////////////////////////////////////////////////
@media (max-width: 1280px) {

  .cart-stuff-div {
    margin-left: 3%;
    width: 94%;
    height: 6vh;
    font-size: 1vw;
    opacity: 1;
    position: relative;
    z-index: 2;
    .search {
      padding-top: 0.5%;
      input {
        height: 4vh;
        width: 17vw;
        font-size: 1vw;
      }
    }

    .s-right-cart-stuff {
      .buy {
        .cart {
          i {
            margin-right: .75vw;
          }
          p {
            margin-right: 0.25vw;
          }
        }
      }
    }
  }

  .s-outer {
    .s-menu {
      padding-left: 39px;
      .s-menu-item {
        margin-left: 0px;
      }
    }
    .s-image-container {
      padding-right: 39px;
      width: 1120px;
      padding-bottom: 65px;
    }
  }

  .s-product-purchase {
    .s-single-image {
      img {
        height: 422px;
        width: 422px;
      }
    }
  }

  // NOT DONE ///////////////////////////////
  .s-cart-main {
    display: flex;
    flex-direction: column;
    font-family: $rob;
    color: $cart-grey;

    .s-cart-top-div {
      display: flex;
      justify-content: space-between;
      flex-direction: row;
      height: 30px;
      font-weight: 700;
      font-size: 18px;
      margin-bottom: 20px;
      .s-cart-product {
        margin-right: 545px;
      }
      .s-cart-price {
        margin-right: 80px;
      }
      .s-cart-quantity {
        padding-right: 120px;
      }
    }

    .s-cart-middle-div {
      display: flex;
      justify-content: space-between;
      flex-direction: row;
      margin-bottom: 7%;
      .s-cart-img {
        height: 240px;
        width: 240px;
      }
      .s-cart-name {
        margin-top: 115px;
        // margin-left: -100px;
        // margin-right: 100px;
        color: $forty-years-maroon;
      }
      .s-cart-price {
        margin-top: 115px;
      }
      .s-cart-quantity {
        margin-top: 115px;
      }
      .s-cart-total {
        margin-top: 115px;
      }
    }

    .s-cart-bottom-div {
      display: flex;
      justify-content: space-between;
      margin-bottom: 60px;
      .s-cart-instructions {
        p {
          padding-bottom: 5px;
          font-size: 13px;
          font-weight: 400;
        }
        textarea {
          height: 155px;
          width: 420px;
          border: none;
          font-size: 15px;
          padding: 10px 10px;
        }
      }
      .s-cart-sub-checkout {
          text-align: right;
        .s-cart-sub {
          font-weight: 700;
          font-size: 18px;
          padding-bottom: 20px;
        }
        .s-cart-ship {
          font-weight: 500;
          font-style: italic;
          padding-bottom: 20px;
        }
        button {
          height: 45px;
          width: 130px;
          background: $forty-years-maroon;
          color: $white;
          font-size: 16px;
          font-weight: 300;
          border: none;
        }
      }
    }
    // NOT DONE ///////////////////////////////
  }

  .s-bottom-div {
    height: 4vh;
    width: 94%;
    margin-left: 3%;
  }

}
