@import 'colors';
@import 'fonts';
@import 'variables';


.display-flex {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.store-main-div {
  // height: 200vh;
  width: 100%;
  background: $main-white;
}

.cart-stuff-div {
  height: 5.7vh;
  width: 81%;
  font-family: $rob;
  font-weight: 400;
  color: $shop-search;
  opacity: 0.8;
  font-size: 0.8vw;
  border-bottom: rgba(51, 51, 51, 0.2) 1px solid;
  margin-left: 9%;
}

.search {
  i {
    font-size: 20px;
  }
  input {
    border: none;
    height: 4vh;
    width: 12vw;
    background: $main-white;
    font-size: 0.8vw;
    padding-left: 15px;
  }
}

.login-signup {
  p {
    margin-right: 1.4vw;
  }
}

.buy {
  margin-left: 61%;
}

.cart {
  i {
    margin-right: .5vw;
    font-size: 18px;
  }
  p {
    margin-right: 0.25vw;
  }
}

.checkout {
  margin-left: 1.15vw;
}

.s-outer {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.s-menu {
  width: 325px;
  height: 400px;
  padding-left: 70px;
  padding-top: 30px;
  .s-menu-item {
    font-family: $oswald;
    color: $featured-grey;
    font-size: 35px;
    font-weight: bold;
    margin-left: 50px;
    margin-top: 5px;
  }
}

.s-image-container {
  // height: 400px;
  padding-top: 35px;
  width: 1094px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-right: 130px;
  // overflow: scroll;
  .s-single-product {
    text-align: center;
    color: $forty-years-maroon;
    .s-img {
      height: 300px;
      width: 300px;
      padding-bottom: 10px;
    }
    .s-p-name {
      font-family: $bevan;
      padding-bottom: 10px;
    }
    .s-p-price {
      padding-bottom: 35px;
    }
  }
}

.s-login-signup {
  form {
    display: flex;
    flex-direction: column;
  }
  form>* {
    height: 40px;
    width: 320px;
    border: none;
    font-size: 15px;
  }
  h3 {
    color: $featured-grey;
    font-weight: bold;
    font-family: $oswald;
    font-size: 28px;
    margin-bottom: 28px;
  }
  input {
    margin-bottom: 8px;
    background-color: $white;
    padding-left: 10px;
  }
  button {
    background: $forty-years-maroon;
    color: $white;
  }
}

.s-cart-main {
  display: flex;
  flex-direction: column;
  font-family: $rob;
  color: $cart-grey;

  .s-cart-top-div {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    height: 30px;
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 20px;
    .s-cart-product {
      margin-right: 545px;
    }
    .s-cart-price {
      margin-right: 80px;
    }
    .s-cart-quantity {
      padding-right: 120px;
    }
  }

  .s-cart-middle-div {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-bottom: 7%;
    .s-cart-img {
      height: 240px;
      width: 240px;
    }
    .s-cart-name {
      margin-top: 115px;
      // margin-left: -100px;
      // margin-right: 100px;
      color: $forty-years-maroon;
    }
    .s-cart-price {
      margin-top: 115px;
    }
    .s-cart-quantity {
      margin-top: 115px;
    }
    .s-cart-total {
      margin-top: 115px;
    }
  }

  .s-cart-bottom-div {
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
    .s-cart-instructions {
      p {
        padding-bottom: 5px;
        font-size: 13px;
        font-weight: 400;
      }
      textarea {
        height: 155px;
        width: 420px;
        border: none;
        font-size: 15px;
        padding: 10px 10px;
      }
    }
    .s-cart-sub-checkout {
        text-align: right;
      .s-cart-sub {
        font-weight: 700;
        font-size: 18px;
        padding-bottom: 20px;
      }
      .s-cart-ship {
        font-weight: 500;
        font-style: italic;
        padding-bottom: 20px;
      }
      button {
        height: 45px;
        width: 130px;
        background: $forty-years-maroon;
        color: $white;
        font-size: 16px;
        font-weight: 300;
        border: none;
      }
    }
  }

}

// .s-cart-main {
//   display: flex;
//   font-family: $rob;
//   color: $cart-grey;
//
//   .s-cart-left {
//     // background: red;
//     width: 480px;
//     height: 600px;
//     .s-cart-title {
//       // background: pink;
//       width: 100%;
//       height: 30px;
//       font-weight: 700;
//       font-size: 18px;
//     }
//     .s-cart-product {
//       display: flex;
//       .s-cart-img {
//         // background: blue;
//         width: 240px;
//         height: 240px;
//       }
//       .s-cart-name {
//         // background: skyblue;
//         width: 240px;
//         height: 240px;
//         padding-left: 20px;
//         padding-top: 115px;
//         p {
//           color: $forty-years-maroon;
//         }
//       }
//     }
//     .s-cart-instructions {
//       padding-top: 40px;
//       p {
//         padding-bottom: 5px;
//         font-size: 13px;
//         font-weight: 400;
//       }
//       input {
//         height: 155px;
//         width: 420px;
//         border: none;
//       }
//     }
//   }
//
//   .s-cart-right {
//     // background: green;
//     width: 480px;
//     height: 600px;
//     display: flex;
//     position: relative;
//     .s-cart-right-divs {
//       width: 160px;
//       height: 240px;
//       .s-cart-title-rt {
//         // background: pink;
//         width: 100%;
//         height: 30px;
//         font-weight: 700;
//         font-size: 18px;
//       }
//       .s-cart-title-rt-middle {
//         text-align: center;
//       }
//       .s-cart-title-rt-last {
//         text-align: right;
//       }
//     }
//     .s-cart-right-bottom {
//       position: absolute;
//       bottom: 0;
//       height: 330px;
//       width: 480px;
//       text-align: right;
//       // background: orange;
//       .s-cart-subtotal {
//         font-weight: 700;
//         font-size: 18px;
//         padding-bottom: 20px;
//         margin-top: 45px;
//       }
//       .s-cart-shipping {
//         font-weight: 500;
//         font-style: italic;
//         padding-bottom: 20px;
//       }
//       button {
//         height: 45px;
//         width: 130px;
//         background: $forty-years-maroon;
//         color: $white;
//         font-size: 16px;
//         font-weight: 300;
//         border: none;
//       }
//     }
//   }
//
// }

.s-bottom-div {
  height: 4vh;
  width: 81%;
  border-top: rgba(51, 51, 51, 0.2) 1px solid;
  margin-left: 9%;
}
